<footer>
    <div class="container">
        <div class="row social-icons-wrapper">
            <ul class="soc">
                <li>
                    <a class="soc-linkedin" href="https://linkedin.com/in/georgi-borisov"></a>
                </li>
                <li>
                    <a class="soc-mail" href="mailto:g.borisov1988@gmal.com"></a>
                </li>
                <li>
                    <a class="soc-github soc-icon-last" href="https://github.com/GeorgiBorisov"></a>
                </li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <p>Georgi Borisov blog 2019</p>
        </div>
    </div>
    <script src="/script.js"></script>
</footer>
</body>
</html>